* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
}

body {
  height: 4000px;
}

.container {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.infos-bg {
  background: #122ab2;
}

.infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.infos span {
  font-size: 1rem;
  color: #fff;
}

.infos a {
  font-size: 1rem;
  color: #fff;
}

.menu-bg {
  background: #2c70ff;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.menu-logo a {
  font-size: 2.5rem;
  color: #fff;
}

.header-menu {
  display: flex;
  gap: 10px;
}

.header-menu a {
  font-size: 1.25rem;
  color: #fff;
  padding: 10px;
}

.header-menu a:hover {
  color: #122ab2;
  transition: 0.2s;
}

.introducao {
  font-size: 2.9rem;
  padding-top: 50px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
}

.introducao::after {
  display: block;
  content: "";
  width: 1000px;
  height: 2px;
  background-color: #2c70ff;
  margin-top: 50px;
}

.sobre {
  display: flex;
  gap: 40px;
  padding: 20px 20px;
}

.sobre-texto h2 {
  font-size: 2.9rem;
  margin-bottom: 30px;
}

.sobre-texto p {
  font-size: 1.25rem;
  color: #7c7c7c;
  margin-bottom: 20px;
  max-width: 37ch;
}

.sobre-img {
  display: flex;
  gap: 20px;
  align-items: start;
}

.produtos {
  margin-bottom: 60px;
}

.produtos::before {
  display: block;
  content: "";
  width: 1000px;
  height: 2px;
  background-color: #2c70ff;
  margin-top: 30px;
  margin-bottom: 50px;
}

.produtos h2 {
  font-size: 2.9rem;
  margin-bottom: 60px;
  padding: 0 20px;
}

.produtos-itens {
  display: flex;
  gap: 20px;
  align-items: end;
  padding: 0 20px;
}

.produtos-box::before {
  display: block;
  content: "";
  width: auto;
  height: 8px;
  background-color: #9370db;
}

#produto2::before {
  background-color: #dc143c;
}

#produto3::before {
  background-color: #00ffff;
}

.produtos-box h3 {
  font-size: 2.9rem;
  color: #a4a4a4;
  background: #f7f7f7;
  padding: 40px;
}

.produtos-box img {
  max-width: 303px;
}

.planos {
  background-color: #f7f7f7;
}
